// COLORS
$color-primary: #e78200;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// SHADOW
$text-shadow: 2px 2px #000;

// MEDIAQUERIES BREAKPOINTS
$bp-largest: 75em; // 1200px / 16px = 75
$bp-large: 62.5em; // 1000px
$bp-medium: 56.52em;  // 900px
$bp-small: 37.5em;  // 600px
$bp-smallest: 25em; // 400px

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 0.625 => 62.5%
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
} 

.container {
    display: grid;
    grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content 25vw min-content min-content min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem);
        grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 6rem calc(100vh - 6rem);
        grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-rows: 6rem calc(100vh - 6rem);
        grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end];
    } 
}