.footer {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: min-content 5rem;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 2rem;

    background-image: url(../img/prism.png);
    padding: 8rem 0 1rem 0;
    font-size: 1.7rem;
    color: $color-grey-light-1;
    justify-items: center;

    &__details {
        grid-column: 1 / -1;

        padding: 0 1rem;

        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: min-content 1fr;
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
        align-items: center;
    }

    &__details--icon {
        grid-column: 1 / 2;

        width: 2rem;
        height: 2rem;
        fill: $color-primary;
    }

    a:link, a:visited {
        color: $color-grey-light-1;
        text-decoration: none;
        letter-spacing: 1px;

        transition: all .2s;

        &:hover {
            color: $color-primary;
            transform: translateY(-2px);
        }
    }

    &__copyright {
        grid-row: 3 / 4;
        grid-column: 1 / 11;

        align-self: end;

        font-size: 1.2rem;
    }

    &__policy {
        grid-row: 2 / 3;
        grid-column: 1 / 11;

        align-self: end;

        font-size: 1.5rem;
    }
}